root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
charset = utf-8

[Makefile]
indent_style = tab

[*.go]
indent_style = tab

[*.{md,json,js,ts,jsx,tsx,css,scss,html,yml,yaml,sh}]
indent_style = space
indent_size = 2


